* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New';
    font-weight: 535;
}

p { font-size: 20px; } /* 16px */
h4 { font-size: 1.125em; } /* 18px */
h3 { font-size: 1.3125em; } /* 21px */
h2 { font-size: 1.5em; } /* 24px */

hr {
    margin-top: 20px;
    margin-bottom: 10px;
}

.home-about {
    background-color: #d7e3fc;
    width: 100%;
    height: 200px;
    /* box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-button {
    color: #ffffff;
    background-color: #abc4ff;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-size: 30px;
}

.about-button:hover {
    background-color: #ecf2ff;
    color: black;
}

.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;

}

/* --------------- Navigation Bar/Header (BEGIN) --------------- */

nav {
    background-color: #abc4ff;
    margin: 0;
    /* overflow: hidden; */
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 2px;
    position: fixed;
    top: 0;
    z-index: 1030;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    float: right;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 18px 16px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 18px;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li a:hover {
    background-color: #ccdbfd;
    color: black;
}

nav .active {
    color: white;
    background-color: #517594;
}

.logo {
    font-size: 20px;
}

/* ---------------- Navigation Bar/Header (END) ---------------- */

.home-block {
    width: 100%;
    padding-top: 4px;
    display: flex;
}

.home-image {
    width: 60%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-image: url("/static/images/home.jpg");
    background-position: bottom-center;
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-right {
    background-color: #edf2fb;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 800px;
}

.home-text {
    color: black;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15%;
    padding-right: 15%;
    text-decoration: none;
    font-size: 30px;
    align-items: center;
    margin: auto;
}

.home-button {
    color: #ffffff;
    width: 50%;
    background-color: #abc4ff;
    display: block;
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}

.home-button:hover {
    background-color: #f7fffe;
    color: black;
}

.home-image h1 {
    font-size: 60px;
}

body {
    background: white;
}

/* -------------------------- Footer -------------------------- */

footer {
    /* margin-top: 150px; */
    width: 100%;
    padding: 100px 15%;
    background-color: #517594;
    color: white;
    display: flex;
}

footer div {
    text-align: center;
}

footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 {
    float: left;
    width: 50%;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.col-2 {
    float: right;
    width: 50%;
}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/* ----------------------- Footer (END) ----------------------- */

.about-contact-title {
    background-color: #517594;
    width: 100%;
    height: 150px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    color: white;
    text-align: center;
    align-items: center;
    padding-top: 89px;
    position: relative;
}

.about-contact-title h2 {
    font-size: 20px;
}

.link-block {
    background-color: #edf2fb;
    height: auto;
}

.link-content {
    background-color: white;
    width: 75%;
    padding: 5px 20px;
    color: black;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.link-spacer {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.link-button {
    color: #ffffff;
    background-color: #abc4ff;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

.link-button:hover {
    background-color: #fef8e7;
    color: black;
}

.content-block {
    background-color: #edf2fb;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.content {
    background-color: white;
    width: 75%;
    padding: 20px 30px;
    color: black;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* ---------------------- Weather (BEGIN) ---------------------- */

.card {
    width: 90%;
    background-color: #abc4ff;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
    max-width: 1000px;
    color: white;
    margin-top: 170px;
    margin-bottom: 180px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 30px;
}

.details {
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.col-main {
    margin-left: 20px;
    margin-right: 20px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

.col img {
    width: 100px;
    margin-right: 20px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

/* ----------------------- Weather (END) ----------------------- */