<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Workflow Web App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            <h1>Header</h1>
        </header>
        <main>
            <h1>Testing... Testing... 123...</h1>
            <ul></ul>
        </main>
        <footer>
            <h1>Footer</h1>
        </footer>
    </body>
</html>